@media (max-width: 1000px) {
    .suggestions {
        display: none;
    }
}


@media (max-width: 700px) {
    .header {
        padding: 12px 2%;
    }

    .feeds-stories {
        width: 100%;
    }

}


@media (max-width: 520px) {
    .header {
        flex-direction: column;
    }

    .header-search {
        margin-top: 8px;
        margin-bottom: 12px;
        width: 70%;
    }

    .header-icons {
        display: none;
    }
}